[submodule "wazigate-edge"]
	path = wazigate-edge
	url = https://github.com/Waziup/wazigate-edge.git
	branch = v2

[submodule "wazigate-system"]
	path = apps/waziup/wazigate-system
	url = https://github.com/Waziup/wazigate-system.git
	branch = master
