.DS_Store
node_modules/
RAW
__pycache__
RaspiConf
*~
/.project
wazigate-edge
.gitignore
.vscode/
wazigate-mongo/data/
wazigate-edge
apps/waziup/wazigate-system

debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
/debian/wazigate
/debian/files
