[submodule "wazigate-edge"]
	path = wazigate-edge
	url = https://github.com/Waziup/wazigate-edge.git
	branch = master
[submodule "wazigate-system"]
	path = wazigate-system
	url = https://github.com/Waziup/wazigate-system.git
	branch = master
[submodule "wazigate-ui"]
	path = wazigate-ui
	url = https://github.com/Waziup/wazigate-ui.git
	branch = master
