/*------------------*/

.loader {
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #3498db;
	border-bottom: 12px solid #3498db;
	width: 80px;
	height: 80px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
	display: block;
	margin: auto;
}
.loader--hide {
	display: none;
}
/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*------------------*/

@keyframes lds-ripple {
	0% {
		top: 16px;
		left: 16px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 2px;
		left: 2px;
		width: 28px;
		height: 28px;
		opacity: 0;
	}
}

.lds-ripple div {
	position: absolute;
	border-width: 4px;
	border-style: solid;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(1) {
	border-color: #292664;
}

.lds-ripple div:nth-child(2) {
	border-color: #667395;
	animation-delay: -0.5s;
}

.lds-ripple {
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
	margin-left: 45%;
	margin-top: 20%;
}
.lds-ripple div {
	box-sizing: content-box;
}
