[Unit]
Description=Wazigate Host Service
After=network.target wazigate-setup.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/var/lib/wazigate/wazigate-host
ExecStart=/usr/bin/wazigate-host

[Install]
WantedBy=multi-user.target