#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_installsystemd:
	dh_installsystemd --name=wazigate
	dh_installsystemd --name=wazigate-host
# only for local deploy:
# override_dh_builddeb:
# 	dh_builddeb -- -Zgzip