[Unit]
Description=Wazigate Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/wazigate
ExecStart=/var/lib/wazigate/start.sh

[Install]
WantedBy=multi-user.target
