[Unit]
Description=Wazigate Setup Service
After=network.target
ConditionFileIsExecutable=/var/lib/wazigate/setup.sh

[Service]
Type=simple
Restart=always
WorkingDirectory=/var/lib/wazigate
ExecStart=/var/lib/wazigate/setup.sh

[Install]
WantedBy=multi-user.target
