[Unit]
Description=Wazigate Service
After=network.target mongodb.service redis-server.service

[Service]
Type=simple
WorkingDirectory=/var/lib/wazigate
ExecStartPre=/var/lib/wazigate/start.sh
ExecStart=/usr/bin/wazigate
Environment="WAZIUP_WWW=/var/lib/wazigate/www"
Environment="WAZIUP_MONGO=mongodb://localhost:27017/?connect=direct"
TimeoutStartSec=15min
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
